absl-py==1.1.0
albumentations==1.2.0
asttokens==2.0.5
backcall==0.2.0
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.12
commonmark==0.9.1
cycler==0.10.0
Cython==0.29.30
cython-bbox==0.1.3
decorator==5.1.1
easydict==1.9
einops==0.4.1
executing==0.8.3
filelock==3.7.1
flake8==4.0.1
flatbuffers==2.0
fonttools==4.33.3
future==0.18.2
gdown==4.4.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
graphsurgeon @ file:///newdata/yuxinzou/software/TensorRT-8.2.3.0/graphsurgeon/graphsurgeon-0.4.5-py2.py3-none-any.whl
grpcio==1.46.3
h5py==3.7.0
idna==2.10
imageio==2.19.3
importlib-metadata==4.11.4
ipython==8.4.0
isort==4.3.21
jedi==0.18.1
joblib==1.1.0
kiwisolver==1.3.1
lap==0.4.0
loguru==0.6.0
Markdown==3.3.7
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.6.1
networkx==2.8.4
numpy==1.22.4
oauthlib==3.2.0
onnx==1.11.0
onnx-graphsurgeon @ file:///newdata/yuxinzou/software/TensorRT-8.2.3.0/onnx_graphsurgeon/onnx_graphsurgeon-0.3.12-py2.py3-none-any.whl
onnx-simplifier==0.3.10
onnxoptimizer==0.2.7
onnxruntime==1.11.1
onnxruntime-gpu==1.11.1
opencv-python==4.2.0.34
opencv-python-headless==4.6.0.66
packaging==21.3
pandas==1.4.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.12.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
qudida==0.0.4
requests==2.28.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rich==12.4.4
roboflow==0.2.4
rsa==4.8
scikit-image==0.18.3
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
soupsieve==2.3.2.post1
stack-data==0.3.0
tb-nightly==2.10.0a20220618
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorrt @ file:///newdata/yuxinzou/software/TensorRT-8.2.3.0/python/tensorrt-8.2.3.0-cp38-none-linux_x86_64.whl
thop==0.1.0.post2206102148
threadpoolctl==3.1.0
tifffile==2022.5.4
torch==1.9.1+cu111
torchvision==0.10.1+cu111
tqdm==4.64.0
traitlets==5.3.0
typing_extensions==4.2.0
uff @ file:///newdata/yuxinzou/software/TensorRT-8.2.3.0/uff/uff-0.6.9-py2.py3-none-any.whl
urllib3==1.26.6
wcwidth==0.2.5
Werkzeug==2.1.2
wget==3.2
yacs==0.1.8
yapf==0.32.0
zipp==3.8.0
